.vis-item {
    background-color: #e6604e!important;
    color: white;
    border-color: #ff978A;;
    border-radius: 10px!important;
    font-weight: bold;
}

.vis-item-content {
    font-size: 12px!important;
    text-align: center;
}

.vis-left {
    width: 8vw;
}

.vis-inner {
    font-weight: bold;
    font-size: 14px;
}

.vis-current-time {
    background-color: #ffac96;
}